@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* 400 - Regular */
@font-face {
  font-family: "Pro Display";
  src: url("../../fonts/SFPRODISPLAYREGULAR.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* 500 - Medium */
@font-face {
  font-family: "Pro Display";
  src: url("../../fonts/SFPRODISPLAYMEDIUM.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/* 700 - Bold */
@font-face {
  font-family: "Pro Display";
  src: url("../../fonts/SFPRODISPLAYBOLD.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
:root {
  --font-family: "Pro Display";
  --secont-family: "Inter, sans-serif";
  --1: #100e0e;
  --prime: #0071e4;
  --03: #b7b7b7;
  --light-grey: #f9f9f9;
  --05: #878787;
  --01: #e7e7e7;
  --06: #706e6e;
  --07: #585656;
  --09: #282626;
  --015: #dbdbdb;
  --light-prime: #2a93fd;
  --icon-ligt: #ccc;
  --color-white: #fff;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-family);
  font-size: 16px;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  background: transparent;
  border: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  background-color: var(--light-grey);
  padding-top: 10px;
  padding-bottom: 9px;
  display: none;
}

.header__top > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-link {
  color: var(--1);
}

.header__top-option {
  color: var(--prime);
  margin-left: 8px;
  position: relative;
  cursor: pointer;
  padding: 3px 20px 3px 3px;
}

.header__top-option::after {
  position: absolute;
  content: "";
  background-image: url(../../imgs/icons/arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 12px;
  height: 12px;
  right: 0;
  top: calc(50% - 6px);
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.top > a {
  width: 32px;
  height: 32px;
  border-radius: 6px;
}

.top__link-watsapp {
  padding: 3px;
  background-color: #2cb742;
}

.top__link-tg {
  padding: 7px;
  background-color: #26a4e4;
}

@media screen and (min-width: 992px) {
  .header__top {
    display: block;
  }
}
.header__middle {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--color-white);
}

.header__bar {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 20px;
}

.header__bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
}

.header__bar-link {
  font-size: 18px;
  color: var(--1);
  padding: 3px 3px;
  white-space: nowrap;
}
.header__bar-link:hover {
  color: var(--prime);
}

.header__bar-list > li {
  position: relative;
  padding-bottom: 5px;
}

.header__bar-list > li:not(:nth-child(2))::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--prime);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__bar-list > li:hover::after {
  width: 100%;
}

.price {
  border-radius: 10px;
  background-color: #fdefbf;
  padding-left: 28px;
  padding-right: 10px;
  position: relative;
}

.price::before {
  position: absolute;
  content: "";
  background-image: url(../../imgs/icons/fire-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  left: 5px;
}

.header__bar-contact {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
  padding-top: 11px;
}

.bar__phone {
  font-size: 20px;
  color: var(--1);
  margin-bottom: 4px;
}

.bar__phone-call {
  font-size: 16px;
  color: var(--prime);
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
  gap: 32px;
}

.header__logo {
  height: 32px;
  width: 32px;
}

.nav__catalog {
  display: none;
  background-color: var(--prime);
  color: var(--color-white);
  border-radius: 16px;
  padding: 16px 15px 16px 50px;
  white-space: nowrap;
  font-size: 20px;
  position: relative;
}
.nav__catalog:hover {
  background-color: #5035f7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.nav__catalog::before {
  position: absolute;
  content: "";
  background-image: url(../../imgs/icons/there-dot.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 32px;
  top: 12px;
  left: 4px;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.search__icon {
  width: 24px;
}

.search__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.nav__search {
  display: none;
  width: 100%;
  height: 100%;
  padding: 2px 3px;
  margin-left: 8px;
}
.nav__search::-webkit-input-placeholder {
  font-size: 16px;
  color: var(--03);
}
.nav__search::-moz-placeholder {
  font-size: 16px;
  color: var(--03);
}
.nav__search:-ms-input-placeholder {
  font-size: 16px;
  color: var(--03);
}
.nav__search::-ms-input-placeholder {
  font-size: 16px;
  color: var(--03);
}
.nav__search::placeholder {
  font-size: 16px;
  color: var(--03);
}
.nav__search::-webkit-search-cancel-button {
  visibility: hidden;
}

.search__icon svg {
  stroke: #100e0e;
}
.search__icon svg:hover {
  stroke: var(--prime);
}

.nav__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.nav__phone-mobil {
  padding: 2px 3px;
}
.nav__phone-mobil > svg:hover {
  fill: var(--prime);
}

.nav__phone-tablet {
  display: none;
  color: var(--1);
}

.header__actions {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.header__actions > a {
  width: 40px;
  height: 40px;
}

.header__action-filter svg {
  fill: #706e6e;
  stroke: #706e6e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__action-filter svg:hover {
  fill: var(--prime);
  stroke: var(--prime);
}

.header__action-heart svg {
  stroke: #706e6e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__action-heart svg:hover {
  stroke: var(--prime);
}

.header__action-basket {
  border-radius: 8px;
  background: #52d116;
  padding: 16px 31px 16px 50px;
  font-size: 20px;
  color: var(--color-white);
  position: relative;
  cursor: pointer;
  text-wrap: nowrap;
  white-space: nowrap;
}
.header__action-basket:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.header__action-basket::before {
  position: absolute;
  content: "";
  background-image: url(../../imgs/icons/basket-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  left: 15px;
  top: calc(50% - 10px);
}

.basket-count {
  -webkit-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #46c609;
  border-radius: 50%;
  padding: 4px 12px;
  width: 34px;
  height: 32px;
  margin-left: 4px;
}

.product-catalog {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-item svg {
  stroke: #ccc;
  -webkit-filter: saturate(1.2);
          filter: saturate(1.2);
}

.product-item:hover {
  color: var(--prime);
}
.product-item:hover > svg {
  stroke: var(--prime);
}

.iphone-btn {
  cursor: pointer;
  font-size: 20px;
  color: var(--color-white);
  background: -webkit-gradient(linear, left top, right top, from(#000), to(#5e556b));
  background: linear-gradient(90deg, #000 0%, #5e556b 100%);
  padding: 20px 59px 20px 66px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.iphone-btn:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.iphone-btn::before {
  position: absolute;
  content: "";
  background-image: url(../../imgs/btn-bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 64px;
  top: 0;
  left: 5px;
}

.iphone-btn::after {
  position: absolute;
  content: "";
  background-image: url(../../imgs/icons/btn-arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 32px;
  top: calc(50% - 16px);
  right: 16px;
}

@media (min-width: 768px) {
  .nav__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search__input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .nav__phone-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__phone-mobil svg {
    fill: var(--03);
  }
}
@media (min-width: 992px) {
  .header__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo {
    display: none;
  }
  .nav__catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search__input {
    border: 2px solid var(--03);
    border-radius: 8px;
    background-color: var(--color-white);
    padding: 14px 26px;
  }
  .search__input:hover {
    border: 2px solid var(--prime);
  }
  .nav__search {
    font-size: 18px;
  }
  .search__icon svg {
    width: 21px;
    height: 21px;
    stroke: var(--03);
  }
  .search__icon svg:hover {
    stroke: var(--03);
  }
  .header__middle {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 22px 0;
  }
  .nav__menu,
  .nav__phone {
    display: none;
  }
  .header__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1188px) {
  .header__bar-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hero {
  background-color: #d0eafc;
  -webkit-filter: saturate(1.2);
          filter: saturate(1.2);
}

.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  position: relative;
}

.hero__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.hero__block::before {
  position: absolute;
  content: "";
  background-image: url(../../imgs/icons/hero-arrow.svg);
  width: 24px;
  height: 24px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.hero__block::after {
  position: absolute;
  content: "";
  background-image: url(../../imgs/icons/hero-right-arrow.svg);
  width: 24px;
  height: 24px;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__slide-title {
  margin-bottom: 9px;
}

.hero__slide-cost {
  font-size: 20px;
  color: #1e3240;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 8px;
}

.hero__slide-rubl {
  font-size: 32px;
  color: #1e3240;
}

.hero__slide-action {
  background-color: var(--prime);
  color: var(--color-white);
  border-radius: 16px;
  border-radius: 8px;
  padding: 10px 39px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);
  margin-bottom: 16px;
}
.hero__slide-action:hover {
  background-color: #5035f7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.slide__img {
  margin-bottom: -5px;
}

@media (min-width: 768px) {
  .hero__block {
    padding-top: 40px;
  }
  .hero__slide-cost {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .hero__slide-rubl {
    font-size: 48px;
  }
  .hero__slide-action {
    padding: 19px 39px 19px 39px;
    margin-bottom: 31px;
  }
}
@media (min-width: 992px) {
  .hero__slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 48px;
  }
  .slide__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .hero__block {
    padding-top: 94px;
  }
  .hero__slide-action {
    padding: 19px 39px 19px 39px;
    margin-bottom: 31px;
  }
}/*# sourceMappingURL=main.css.map */